h1{
  text-align:center;
  color:light blue;
  font-size:55px;
  border-width:3px;
  border-style:dotted;
  border-color:light blue;
  border-radius:40px
  background-color:light grey}
img{ 
  width:200px;
  position:absolute;
  top:5px;
  right:5px;}
table, td, tr{
  border-width:5px;
  border-style:solid;
  border-color: light blue;
  border-radius:10px}
p{
  color:blue;
  font-size:12px;}
html{
  background-color:pale pink;}

