h1{
  text-align:center;
  color:#FF94BE;
  font-size:55px;
  border-width:3px;
  border-style:dotted;
  border-color:#FFE4E1;
  border-radius:10px;
  background-color:#FCFCFC;}
img{ 
  width:200px;
  position:absolute;
  top:5px;
  right:5px;}
table{
  border-width:5px;
  border-style:solid;
  border-color:#A6CEFF;
  border-radius:5px;
  border-collapse:collapse;
  margin:auto;}
td,tr{
  border-width:1px;
  border-style:solid;
  border-color:#A6CEFF;}
p{
  color:blue;
  font-size:12px;}
html{
  background-color:pink;}

