h1{
  text-align:center;
  color:pale pink;
  font-size:55px;
  border-width:3px;
  border-style:dotted;
  border-color:pink;
  border-radius:40px}
img{ 
  width:200px;
  position:absolute;
  top:5px;
  right:5px;}
table{
  border-width:5px;
  border-style:solid;
  border-color: blue;
  border-radius:10px}
p{
  color:blue;
  font-size:12px;}
html{
  background-color:light pink;}

