h1{
  text-align:center;
  color:blue;
  font-size:55px;
  border-width:3px;
  border-style:dotted;
  border-color:blue;
  border-radius:20px;
  background-color:grey;}
img{ 
  width:200px;
  position:absolute;
  top:5px;
  right:5px;}
table{
  border-width:5px;
  border-style:solid;
  border-color:blue;
  border-radius:5px}
td,tr{
  border-width:1px;
  border-style:solid;
  border-color:blue;}
p{
  color:blue;
  font-size:12px;}
html{
  background-color:pink;}

